<%- partial('_partial/head', { title: page.title }) %>
<body>
  <main id='main'>
    <!-- <button id='theme'>白</button> -->
    <section><%- body %></section>
  </main>
  <%- partial('_partial/footer') %>
</body>
</html>
